@import 'bootstrap';
@import "ember-power-select";

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
body {
  background-color: rgb(210, 236, 248);
  min-width: fit-content;
}

a {
  text-decoration: auto;
}

.navbar {
  background-color: rgba(21, 67, 109, 1);
background-image: linear-gradient(243deg, rgba(21, 67, 109, 1) 17%, rgba(25, 118, 204, 1) 68%);
padding-left: 0%;
padding-right: 0%;
}

.nav-link,
.navbar-brand {
  color: rgb(0, 0, 0);

}

.btn {
  background-color: #1976cf;
  margin: 5px;
  color:aliceblue;
}

.btn-primary {
  color: rgb(255, 255, 255);
}

#edit {
  display: table-cell;
}

.text-center {
  padding-top: 30px;
  padding-bottom: 20px;
}

.container {
  padding-top: 30px;
  text-align: -webkit-center;
}

.back-to-button {
  position: absolute;
  left: 7px;
}

.d-flex {
  padding-top: 30px;
}

#oauth {
  background-color: #eb5424
}

.register {
  text-decoration: none;
}

#show-table {
  min-width: auto;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

// .ember-modal-overlay {
//   width: 1000vw;
//   height: 1000vh;
// }

// .ember-modal-dialog {
//   min-width: fit-content;
// }

.form-control {
  margin-top: 5px;
}


@import "ember-power-select";

@import 'ember-basic-dropdown';
