@import 'bootstrap';
@import "ember-power-select";

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
body {
  background-color: rgb(235, 230, 230);
}

.navbar {
  background-color: rgba(21, 67, 109, 1);
background-image: linear-gradient(243deg, rgba(21, 67, 109, 1) 17%, rgba(25, 118, 204, 1) 68%);
}

.nav-link,
.navbar-brand {
  color: black;

}

.btn {
  background-color: #1976cf;
  margin: 5px;
}

.btn:hover {
  color: rgb(0, 30, 94);
  box-shadow: 0 12px 16px 0 rgba(12, 12, 12, 0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-primary {
  color: black;
}

.text-center {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  padding-top: 20px;
  text-align: -webkit-center;
}


@import "ember-power-select";

@import 'ember-basic-dropdown';
