<table class='table table-striped'>
  <thead>
    <tr>
      <th scope='col'>Artykuły</th>
      <th scope='col'>Ilość</th>
      <th scope='col'>Miejsce</th>
    </tr>
  </thead>
  <tbody>
    {{#each @tables as |table|}}
      <tr>
        <td>{{table.name}}</td>
        <td>{{table.count}}</td>
        <td>{{table.target}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<Table::TableForm />