{{! template-lint-disable table-groups }}
<table class='table table-striped'>
  <thead>
    <tr>
      <th scope='col'>Artykuły</th>
      <th scope='col'>Ilość</th>
      <th scope='col'>Miejsce</th>
    </tr>
  </thead>
  <Table::TableFirm::Row />
</table>