<div class='image'>
  <LinkTo @route='home.orders'>
    <span><img
        src='assets\images/zamowienia.jpg'
        class='rounded float-start col-5'
        alt='zamowienia'
        type='button'
      />
    </span>
  </LinkTo>
  <LinkTo @route='home.warehouse'>
    <span>
      <img
        src='assets\images/magazyn.jpg'
        class='rounded float-end col-5'
        alt='magazyn'
      />
    </span>
  </LinkTo>
</div>