<div class='container'>
  <LinkTo @route='home.orders'>
    <button type='button' class='btn btn-lg fs-2'>
      ORDERS
    </button>
  </LinkTo>

  <LinkTo @route='home.warehouse'>
    <button type='button' class='btn btn-lg fs-2'>
      WAREHOUSE
    </button>
  </LinkTo>

  <LinkTo @route='home.archive'>
    <button type='button' class='btn btn-lg fs-2'>
      ARCHIVES
    </button>
  </LinkTo>
</div>

{{! form-control }}