<div class='container'>
  <LinkTo @route='home.orders'><button
      type='button'
      class='btn btn-lg fs-2'
    >ZAMÓWIENIA</button></LinkTo>

  <LinkTo @route='home.warehouse'><button
      type='button'
      class='btn btn-lg fs-2'
    >MAGAZYN</button></LinkTo>
</div>

{{! form-control }}