<table class='table table-striped'>
  <thead>
    <tr>
      <th scope='col'>Artykuły</th>
      <th scope='col'>Ilość</th>
      <th scope='col'>Zamówione</th>
    </tr>
  </thead>
  <tbody>
    {{#each @selleo as |table|}}
      <tr>
        <td>{{table.name}}</td>
        <td>{{table.count}}</td>
        <td><div class='form-check form-check-inline'>
            <input
              class='form-check-input'
              type='checkbox'
              id='inlineCheckbox1'
              value='option1'
            />
            <label class='form-check-label' for='inlineCheckbox1'></label>
          </div></td>
      </tr>
    {{/each}}
  </tbody>
</table>