{{#each @companies as |company|}}
  <LinkTo @model={{company}} @route='home.order-list'>
    <button value={{company.name}} type='button' class='btn btn-lg'>
      {{company.name}}
    </button>
  </LinkTo>
{{/each}}