<LinkTo @route='home.firm'><button
    type='button'
    class='btn btn-primary btn-lg'
  >NA FIRMĘ</button></LinkTo>

<LinkTo @route='home.selleo'><button
    type='button'
    class='btn btn-secondary btn-lg'
  >SELLEO</button></LinkTo>

<LinkTo @route='home.bluecrest'><button
    type='button'
    class='btn btn-secondary btn-lg'
  >BLUECREST</button></LinkTo>