<table class='table table-striped'>
  <thead>
    <tr>
      <th scope='col'>Artykuły</th>
      <th scope='col'>Ilość</th>
      <th scope='col'>Zamówione</th>
    </tr>
  </thead>
  <tbody>
    {{#each @bluecrest as |bluecrest|}}
      <tr>
        <td>{{bluecrest.articles}}</td>
        <td>{{bluecrest.count}}</td>
        <td><div class='form-check form-switch'>
            <input
              class='form-check-input'
              type='checkbox'
              role='switch'
              id='flexSwitchCheckDefault'
            />
            <label
              class='form-check-label'
              for='flexSwitchCheckDefault'
            ></label>
          </div></td>
        <td><div class='input-group-sm'>
            {{! template-lint-disable no-action }}
            <button
              class='btn btn-primary'
              type='button'
              {{action 'onDeleted' bluecrest}}
            >Usuń</button>
          </div></td>
      </tr>
    {{/each}}
  </tbody>
</table>