<table class='table table-striped'>
  <thead>
    <tr>
      <th scope='col'>Artykuły</th>
      <th scope='col'>Ilość</th>
    </tr>
  </thead>
  <tbody>
    {{#each @bluecrest as |bluecrest|}}
      <tr>
        <td>{{bluecrest.articles}}</td>
        <td>{{bluecrest.count}}{{bluecrest.unit}}</td>
        {{! <td><input id='datepicker' type='date' /></td> }}
        <td><div class='input-group-sm'>
            {{! template-lint-disable no-action }}
            <button
              class='btn btn-primary'
              type='button'
              {{action 'onDeleted' bluecrest}}
            >Usuń</button>
          </div></td>
      </tr>
    {{/each}}
  </tbody>
</table>