<nav class='navbar navbar-expand-lg'>

  <div class='container-fluid'>
    <LinkTo class='navbar-brand' @route='home.index' data-test-navbar-home>
      STOCK MANAGEMENT APP
    </LinkTo>

    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarNav'
      aria-controls='navbarNav'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <FaIcon @icon='grip-lines' @size='2x' />
    </button>

    <div class='collapse navbar-collapse' id='navbarNav'>
      <ul class='navbar-nav'>
        <li class='nav-item'>
          <LinkTo class='nav-link' @route='home.orders' data-test-navbar-orders>
            ZAMÓWIENIA
          </LinkTo>
        </li>
        <li class='nav-item'>
          <LinkTo
            class='nav-link'
            @route='home.warehouse'
            data-test-navbar-warehouse
          >
            MAGAZYN
          </LinkTo>
        </li>
        <li class='nav-item'>
          <LinkTo
            class='nav-link'
            @route='home.archive'
            data-test-navbar-archive
          >
            ARCHIWUM
          </LinkTo>
        </li>
        <li class='nav-item'>
          <span
            role='button'
            class='nav-link'
            {{on 'click' this.onLogout}}
            data-test-navbar-logout
          >
            WYLOGUJ SIĘ
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>